@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --bg-color: #09090b;
  --text-color: #f3f4f6;
}

.light {
  --bg-color: #f4f4f5;
  --text-color: #18181b;
}

html {
  background-color: var(--bg-color);
}

body {
  color: var(--text-color);
}
